<div class="wrapper">
        <div class="form-wrapper sign-in">
            <form action="/admin/loginStored" method="POST">
                <h2> Đăng nhập </h2>
                <div class="input-group">
                    <input type="text" required name="adminName">
                    <label for="">Tên admin</label>
                </div>
                <div class="input-group">
                    <input type="text" required name="adminPassword">
                    <label for="">Mật khẩu</label>
                    <div class="eye">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>
                <div class="remember">
                    <label><input type="checkbox"> Ghi nhớ tài khoản</label>
                </div>
                <button type="submit">Đăng nhập </button>
            </form>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="/js/LAR.js" ></script>