<div id="header">
    <nav class="container">
        <ul id="main-menu">
        <a href="/" id="logo">
            <img src="../Image/logo.jpg" alt="Image">
        </a>
            <li><a href="/">Trang chủ </a></li>
            <li><a href="/post">Đăng bài</a></li>
            <li><a href="/auth">Đăng nhập/ Đăng ký</a></li>
            <li><a href="" id="toggle-sidebar"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
        <li class="search-box">
            <form>
                <input type="text" placeholder=" Search...">
            </form>
            <i class="fa-solid fa-magnifying-glass"></i><a href=""></a>
        </li>
    </nav>
</div>   