<div id="sidebar">
    <ul>
        <li><a href="/admin/userManage">Quản lý người dùng</a></li>
        <li><a href="/admin/postManage">Quản lý danh mục</a></li>
        <li><a href="/admin/home">Trở về trang chủ</a></li>
    </ul>
</div>